@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fcfafa;
}

a, button {
  outline: 0;
}

::-moz-focus-inner, :focus {
  border: 0;
}

.main {
  display: grid;
  grid-template-columns: 12rem auto;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.overflow-dots {
  text-overflow: ellipsis;
}

.poster-shadow {
  box-shadow: 8px 8px 15px 2px rgba(0, 0, 0, 0.4);
}

.nuxt-link-exact-active {
  color: white;
}

.card {
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s ease-out;
}

.card-img {
  overflow: hidden;
}

.card:hover {
  transform: scale(1.025);
}

.small-card {
  transition: box-shadow 0.2s ease-out;
}

.hero-inner {
  min-height: 16rem;
}

@media (min-width: 640px) {
  .hero-inner {
    height: 32rem;
  }
}

.isLoaded {
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}